{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block title "Symfony Live – Docker" %}

{% block content_header '' %}

{% block content %}
    <div class="block">
        <h1 class="title">Hello, docker!</h1>
    </div>
{% endblock %}
